<table class="grid">
  <!-- first row: Names -->
  <tr>
    <td>
      {{ Patient.name[0] }}
      {% if (Patient.identifier.where(type.coding.code = 'MR').exists())%}
        MR {{ Patient.identifier.where(type.coding.code = 'MR').value }}
      {% endif %}
    </td>
    <td>{{ Patient.gender }}</td>
    <td>{{ Patient.birthDate }}</td>
  </tr>
  <!-- second row: Other names -->
  {% if (Patient.name.size() > 1) %}
  <tr>
    <td>
      {{ Patient.name[0] }}
      {% if (Patient.identifier.where(type.coding.code = 'MR').exists())%}
        MR {{ Patient.identifier.where(type.coding.code = 'MR').value }}
      {% endif %}
    </td>
    <td></td>
    <td></td>
  </tr>
  <!-- second row: Contact Details -->
  <tr>
    <td>
      {{ Patient.name[0] }}
      {% if (Patient.identifier.where(type.coding.code = 'MR').exists())%}
        MR {{ Patient.identifier.where(type.coding.code = 'MR').value }}
      {% endif %}
    </td>
    <td>{{ Patient.gender }}</td>
    <td>{{ Patient.birthDate }}</td>
  </tr>

</table>